<div class="c-slider fade">
	<div>
		<div class="image">
			<img src="assets/img/slider1.png" alt="">
			<div class="c-slider__inner">
				<h2>SẢN PHẨM HOT</h2>
				<p>Siêu phẩm tai nghe Sony J350</p>
			</div>
		</div>
	</div>
	<div>
		<div class="image">
			<img src="assets/img/slider2.png" alt="">
			<div class="c-slider__inner">
				<h2>SẢN PHẨM HOT</h2>
				<p>Siêu phẩm tai nghe Sony J350</p>
			</div>
		</div>
	</div>
	<div>
		<div class="image">
			<img src="assets/img/slider3.png" alt="">
			<div class="c-slider__inner">
				<h2>SẢN PHẨM HOT</h2>
				<p>Siêu phẩm tai nghe Sony J350</p>
			</div>
		</div>
	</div>
</div>