/*------------------------------------------------------------
	c-rightSide
------------------------------------------------------------*/
.c-rightSide {
	// width: 370px;
	width: 27%;
	// height: 400px;
	h2{
		font-size: 1.9rem;
		color: #a76628;
		padding: 30px 0 17px 0;
		font-family: 'Myriad Pro';
		span {
			margin-right: 17px;
			img{
				width: auto;
			}
		}
	}
	&__ads {
		img{
			width: 100%;
		}
	}
	&__popular {
		h2 {
			border-bottom: 1px solid #c8c7c6;
		}
	}
	.popular-item {
		display: flex;
		margin: 20px 0;
		font-family: 'Myriad Pro';

		p{
			font-size: 1.9rem;
			color: #232323;
			line-height: 1.3;
			padding-bottom: 15px;
		}
		a{
			font-size: 1.6rem;
			color: #06a6a6;
			text-decoration: none;
		}
	}
	.popular-thumnail{
		width: 35%;
		img {
			width: 100%;
		}
	}
	.popular-content{
		width: 62%;
		padding-left: 3%;
	}
}